<!--IT17171298 -->
<h3><a class="btn btn-secondary" href="/user"><i class="fa fa-plus"></i> Create New </a>  User List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Birthday</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.firstName}}</td>
            <td>{{this.secondName}}</td>
            <td>{{this.birthday}}</td>
            <td>
                <a href="/user/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/user/delete/{{this._id}}" onclick="return confirm('Are you sure you want to delete this message?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>